.inquiry{
    background-color: rgb(127, 202, 255);
   margin-left: 300px;
   margin-right:300px ;
   padding: 25px;
   font-size: 20px;
   margin-top: 50px;
   box-shadow: 0 0 5px cyan,
   0 0 25px cyan,0 0 50px cyan,
   0 0 100px cyan,0 0 200px cyan
   
    
}.btn{
    color: blue;
    background-color: rgb(174, 129, 215);

}.btn:hover{
    background-color: rgb(200, 129, 129);
}